.masthead {
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.ui.huge.header  {
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size: 3em;
    font-family: 'Abril Fatface', cursive;
}

.ui.header+p {
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.ui.form .field>label {
    font-size: 1.15em;
    padding-top: 10px;
}

.ui.sizer.vertical.segment {
    text-align: center;
    background-color: #d67418;
}

#submitBtn {
    min-width: 10%;
    content: center;
    object-position: center;
}
.ui.orange.button {
    object-position: center;
    text-align: center;
    padding-bottom: 10px;
    box-shadow: 20px, 20px, 20px rgba(0,0,0, 0.5);
}
.ui.orange.button:hover{
	box-shadow: 30px 30px 30px rgba(0,0,0, 0.5);
	transition: width 3s;
	color: #ffffff;
}

input , select {
    max-width: 80%;
}

.main-content-area {
    max-width: 95%;
    margin: auto;
    margin-bottom: 5%;
    background: white;
}

body, html {
    max-width: 100vw;
    max-height: 100vh;
    background-color: gray;
    background: url("../images/adult-adventure-backpack-287240.jpg");
    background-repeat: repeat;
    border: 1px solid black;
}

.ui.ad:first-child {
    width: 95%;
    max-height: 18vh;
    margin:auto;
    font-family: 'Lobster', cursive;
}

.ui.header+p {
    font-size: 1.25em;
}

#resultWindow {
    background: white;
    display: none;
}

#weatherContainer {
    font-family: 'Abril Fatface', cursive;
}

#weatherContainer img:first-child {
    width: 75px;
    height: 75px;
    padding: 10px;
    float: left;
}

#npsContainer img {
    width: 700px;
    height: 600px;
    padding: 10px;
}

#npsContainer {
    font-family: 'Abril Fatface', cursive;
}

#movieContainer {
    font-family: 'Abril Fatface', cursive;
}

.col-lg-12.col-md-12.col-sm-12 {
    font-family: 'Lobster', cursive;
}

#thankyouContainer {
    font-size: 3rem;
    color: slategray;


}

/* WEATHER STYLE */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 23px;
    text-align: center;
  }
  
  .item1 {
    border-radius: 25px;
    grid-row: 1 / span 2;
    background-image: url(../images/cat_weather.gif);
    
  }

  div.item2 {
      background-color: lightskyblue;
      color: blue;
  }

  div.item3 {
    background-color: lightskyblue;
  }

  div.item5 {
      background-color: indianred;
      color: darkred;
  }

  div.item6 {
    background-color: indianred;
  }

  div.item4 {
      border-radius: 25px;
      background: url(../images/day.jpg)
  }

  div.item7 {
    border-radius: 25px;
    background-image: url(../images/moon.jpg);
  }

  html body div.main-content-area div#resultWindow.ui.container div#npsContainer.container {
      text-align: center;
  }

  html body div.main-content-area div#resultWindow.ui.container div#movieContainer.container {
      text-align: center;
  }